*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: url(https://images.pexels.com/photos/4031818/pexels-photo-4031818.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size:100% 100%;
}



#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fill 4s ease forwards;
}
#logo path:nth-child(1)
{
stroke-dasharray: 520px;
stroke-dashoffset: 520px;
animation: line-anim 10s ease forwards;
}
@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes fill{
    from{
        fill:transparent;
    }
    to{
        fill:white;
    }
}
#button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fill 4s ease forwards;
}